<div class="row">
  <!-- Pending Applications -->
  <div class="col-md-4">
    <div class="card border-warning mb-3">
      <div class="card-header text-white bg-warning">Pending Applications</div>
      <div class="card-body">
        <ul class="list-group">
          <% @job_applications.where(status: "Pending").each do |job| %>
            <li class="list-group-item">
              <strong><%= job.company %></strong>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <!-- Accepted Applications -->
  <div class="col-md-4">
    <div class="card border-success mb-3">
      <div class="card-header text-white bg-success">Accepted Applications</div>
      <div class="card-body">
        <ul class="list-group">
          <% @job_applications.where(status: "Accepted").each do |job| %>
            <li class="list-group-item">
              <strong><%= job.company %></strong>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <!-- Rejected Applications -->
  <div class="col-md-4">
    <div class="card border-danger mb-3">
      <div class="card-header text-white bg-danger">Rejected Applications</div>
      <div class="card-body">
        <ul class="list-group">
          <% @job_applications.where(status: "Rejected").each do |job| %>
            <li class="list-group-item">
              <strong><%= job.company %></strong>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
